<div class="contents row">
  <p>-<%= @fukyo_sya %>さんのFUKYO-</p>
  <span>フォロー: <%= @user.followings.count %></span>
  <span>　フォロワー: <%= @user.followers.count %></span>
 
  <% if current_user.following?(@user) %>
    <h1><%= link_to ">フォローを外す<", user_relationship_path(@user.id), method: :delete %></h1>
  <% else %>
    <h1><%= link_to ">フォローする<", user_relationships_path(@user.id), method: :post %></h1>
  <% end %>

  <% @fukyos.each do |fukyo| %>
    <%= link_to fukyo_path(fukyo.id) do %>
      <%= image_tag fukyo.image.variant(resize: '500x500'), class: :image_tag %>
    <% end %>

      <h1><%= fukyo.title %></h1>
      <span class="name">
        <div><%= fukyo.f_text %></div>
      </span>
  <% end %>
</div>