<div class="contents row">
  <p>-<%= @fukyo_sya %>さんのFUKYO-</p>
  
  <% if current_user.following?(@user) %>
    <p><%= link_to ">フォローを外す<", user_relationship_path(@user.id), method: :delete %></p>
  <% else %>
    <h1><%= link_to ">フォローする<", user_relationships_path(@user.id), method: :post %></h1>
  <% end %>

  <% if @follows.present? %>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @follows.user.fukyo_sya %></td>
          <td>フォロー数: <%= @follows.followings.count %></td>
          <td>フォロワー数: <%= @follows.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <p>※※　フォロー中のユーザーはいません　※※</p>
  <% end %>

  <% @fukyos.each do |fukyo| %>
    <%= link_to fukyo_path(fukyo.id) do %>
      <%= image_tag fukyo.image.variant(resize: '500x500'), class: :image_tag %>
    <% end %>

      <h1><%= fukyo.title %></h1>
      <span class="name">
        <div><%= fukyo.f_text %></div>
      </span>
  <% end %>
</div>