<div class="contents row">
  <div class="container">
    <h3>-FUKYO-</h3>
    <%= form_with(model: @fukyo, local: true) do |f| %>
      <%= f.text_field :title, placeholder: "お題をどうぞ（必須）" %>
      <%= f.file_field :image %>
      <%= f.text_area :f_text, placeholder: "本文はこちら（必須）", rows: "10" %>
      <%= f.text_field :f_url, placeholder: "お題に関するURL（任意）" %>
      <%= f.submit "FUKYOする" %>
    <% end %>
  </div>
</div>