<div class="contents row">
  <%= image_tag @fukyo.image.variant(resize: '1000x1000') %>
    
    <div class="more">
    <% if user_signed_in? %>
      <span><%= image_tag 'arrow_top.png' %></span>
      <% if @fukyo.favorited?(current_user) %>
        <%= link_to fukyo_favorite_path(@fukyo.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
        <% end %>
      <% else %>
        <%= link_to fukyo_favorites_path(@fukyo.id), method: :post do %>
        <span>❤</span>
        <% end %>
      <% end %>
      <%= @favorite_count %>

      <% if current_user.id == @fukyo.user_id %>
      <ul class="more_list">
        <li>
          <%= link_to '>編集する', edit_fukyo_path(@fukyo.id), method: :get %>
        </li>
        <li>
          <%= link_to '>削除する', fukyo_path(@fukyo.id), method: :delete %>
        </li>
      </ul>
      <% end %>
    </div>
    <% end %>

    <p><strong><%= link_to @fukyo.user.fukyo_sya, "/user/#{@fukyo.user_id}" %> </strong></p>
    <p>＃お題： <%= @fukyo.title %></p>
    <span class="name">＃紹介： <%= @fukyo.f_text %>
    </span>
    <div>＃URL： <%= @fukyo.f_url%></div>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@fukyo, @comment], local: true) do |f| %>
        <%= f.text_area :c_text, placeholder: "節度を守って、コメントしてみよう！", rows: "2" %>
        <%= f.submit "コメントする" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>- コメント一覧 -</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.fukyo_sya, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.c_text %>
        </p>
      <% end %>
    </div>
  </div>
</div>