<div class="contents row">
  <%= image_tag @fukyo.image.variant(resize: '800x800'), class: :image_tag %>
    
    <div class="more">
    <% if user_signed_in? %>
      <% if @fukyo.favorited?(current_user) %>
        <%= link_to fukyo_favorite_path(@fukyo.id), method: :delete do %>
        <span style="color:red;">❤︎</span>
        <% end %>
      <% else %>
        <%= link_to fukyo_favorites_path(@fukyo.id), method: :post do %>
        <span>❤</span>
        <% end %>
      <% end %>
      <%= @favorite_count %>

      <% if current_user.id == @fukyo.user_id %>
      <ul class="more_list">
        <li class="edit-botn">
          <%= link_to '編 集', edit_fukyo_path(@fukyo.id), method: :get %>
        </li>
        <li class="edit-botn">
          <%= link_to '削 除', fukyo_path(@fukyo.id), method: :delete %>
        </li>
      </ul>
      <% end %>
    </div>
    <% else %>
      <span>❤<%= @favorite_count %></span>
    <% end %>

    <p><strong class="fukyo-sya"><%= link_to @fukyo.user.fukyo_sya, "/users/#{@fukyo.user_id}" %> </strong></p>

    <h1><%= @fukyo.title %></h1>
    <span class="name"><%= @fukyo.f_text %>
    </span>
    <div><%= @fukyo.f_url%></div>

    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@fukyo, @comment], local: true) do |f| %>
        <%= f.text_area :c_text, placeholder: "節度を守って、コメントしてみよう！", rows: "2" %>
        <%= f.submit "コメントする" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>- コメント一覧 -</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.fukyo_sya, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.c_text %>
        </p>
      <% end %>
    </div>
  </div>
</div>